# ========================
# Server Configuration
# ========================
PORT=3000
HOSTNAME=0.0.0.0

# ========================
# Client Configuration 
# ========================
# Proxy URL
PROXY_URL=

# Session ID to maintain consistent browser fingerprints
SESSION_TOKEN=unique-session-id

# Use HTTP/2 protocol (true/false) - Recommended: true
HTTP2=

# Request timeout in milliseconds (default: 15000)
TIMEOUT=15000

# Max retries on network/timeout errors (default: 2)
RETRIES=2

# Delay between consecutive requests in ms (default: 400)
DELAY=400

# ========================
# Header Generator
# ========================

BROWSER=

#version constraints
BROWSER_MIN_VER=
BROWSER_MAX_VER=

# Valid devices: desktop, mobile
DEVICE_TYPE=

# Valid OS: windows, ios, android
OS_TYPE=

# Valid Locale
LOCALE=

# ========================
# Provider URL Configuration
# ========================
ANIMEKAIURL='https://animekai.to'
ANIMEPAHEURL='https://animepahe.si'
ANIZONEURL='https://anizone.to'
HIANIMEURL='https://hianime.to'
KAIDOURL='https://kaido.to'
FLIXHQURL='https://flixhq.to'
HIMOVIESURL='https://himovies.sx'

# ========================
# Rate Limiting
# ========================
# Maximum API requests allowed per minute
MAX_API_REQUESTS=120
# Duration (in minutes) to track requests
WINDOW_IN_MINUTES=1

# ========================
# Redis Configuration (Upstash Recommended)
# ========================
REDIS_PORT=
REDIS_HOST=
REDIS_PASSWORD=

# ========================
# CORS Configuration
# ========================
# Allowed origins 
ALLOWED_ORIGINS=http://localhost:5173

# ========================
# Vercel Deployment
# ========================
VERCEL_FORCE_NO_BUILD_CACHE=1