# ========================
# Server Configuration
# ========================
PORT=3000
HOSTNAME=0.0.0.0


# ========================
# Provider URL Configuration
# ========================

ANIMEPAHEURL='https://animepahe.com'
ANIZONEURL='https://anizone.to'
HIANIMEURL='https://hianime.to'
KAIDOURL='https://kaido.to'
FLIXHQURL='https://flixhq.to'
HIMOVIESURL='https://himovies.sx'

# ========================
# Rate Limiting
# ========================
# Maximum API requests allowed per minute
MAX_API_REQUESTS=120
# Duration (in minutes) to track requests
WINDOW_IN_MINUTES=1

# ========================
# Redis Configuration (Upstash Recommended)
# ========================
REDIS_PORT=
REDIS_HOST=
REDIS_PASSWORD=

# ========================
# CORS Configuration
# ========================
# Allowed origins 
ALLOWED_ORIGINS='*'

# ========================
# Vercel Deployment
# ========================
VERCEL_FORCE_NO_BUILD_CACHE=1